.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: rgb(80, 238, 59);
    width: 80vw;
    height: 70vh;
    margin: 10vh auto;
    padding: 2rem;
    border-radius: 5px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 0;
    padding: 1vh 14vw
} 

.start {
    width: 40%;
    height: 30px;
}

h1 {
    text-align: center;
    color: rgb(171, 10, 171);
    font-weight: bolder;
    font-size: 2rem;
    text-shadow: 2px 2px white;
}

.square {
    border: 2px solid rgb(171, 10, 171);
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: xx-large;
}

.square:hover{
    background-color: rgb(171, 10, 171);
    cursor: pointer;
}
.clicked{
    background-color: rgb(247, 247, 247);
}

.sq1, .sq2, .sq3 {
    border-top: none;
}
.sq3, .sq6, .sq9 {
    border-right: none;
}
.sq7, .sq8, .sq9 {
    border-bottom: none;
}
.sq1, .sq4, .sq7 {
    border-left: none;
}

